.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.close:hover,
.close:focus {
  background-color: black;
  color: red;
  text-decoration: none;
  cursor: pointer;
}
